.header {
  margin: 0;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgba(84,84,84,0.7);
  align-self: center;
}


@media screen and (min-width: 800px) and (max-width: 1120px) {
  .header {
    width: 100%;
  }

  .header__image {
    width: 173px;
    height: 33px;
    padding: 45px 0 41px;
  }
}

@media screen and (min-width: 481px) and (max-width: 799px) {
  .header {
    width: 100%;
  }

  .header__image {
    width: 173px;
    height: 33px;
    padding: 45px 0 41px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    width: 100%;
    align-items: center;
    padding: 0;
  }

  .header__image {
    width: 126px;
    height: 24px;
    padding: 27px 148px 28px 13px;
  }
}
