.header {
min-height: 120px;
padding-top: 45px;
border-bottom: solid;
border-width: 1px;
border-color: #545454;
position: relative;
}

@media screen and (min-width:0px) and (max-width:330px) {
    .header {
    width: 100%;
    
    }

    .header__image {
    width: 125px;
    height: 25px;
    }
}

@media screen and (min-width:330px) and (max-width:480px) {
    .header {
    width: 100%;
    
    }

    .header__image {
    width: 150px;
    height: 30px;
    }
}

@media screen and (min-width:480px) and (max-width:920px) {
    .header {
    width: 100%;
    
    }

    .header__image {
    width: 175px;
    height: 35px;
    }
}