.page {
  background-color: #000000;
  color: #ffffff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.page__section {
  width: 100%;
  box-sizing: border-box; /*keeps it contained to width set*/
  max-width: 880px;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 20px;
  overflow-x: hidden;
}

/*@media screen and (max-width: 480px) {
  .page__content {
    padding: 0 0 20px;
  }

  .page__section {
    /*margin: 0 auto;*/
  }
}*/

@media screen and (min-width: 800px){
  .page {
    margin: 0 auto;
  }
}